body {
    font-family: 'inter', sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
}

header h2 {
    text-align:left;
    color: #666;
    padding: 0% 15% 0%;
    font-size: 25px;
}

.form-container {
    max-width: 900px;
    height: 600px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 2vw;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display:flex;
}

form {
    width: 60%;
    margin: 0.5rem;
    margin-top: 1.5rem;
    margin-left: 0.9rem;
}

form h3 {
    font-size: 2rem;
    color: #222;
    margin: 10px;
}

.input-group {
    margin-bottom: 0.5rem;
}

.input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.input-group input[type="text"],
.input-group input[type="email"],
.input-group input[type="date"],
.input-group input[type="number"] {
    width: 100%;
    padding: 0.6rem;
    border: 2px solid #4285F4;
    border-radius: 2vw;

}
.input-group input{
    width: 90%;
}
.input-half-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-half-group .input-group {
    width: 46%;
}

.contenedor-btn {
    text-align: center;
    padding: 0.5rem;
}
.profile-pic>img{
    width: 70%;
    margin: auto;
}

.btn-registrar {
    background-color: #f9a825;
    color: #fff;
    border: none;
    padding: 1rem;
    border-radius: 2vw;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 2vw;
    box-shadow:  0 6px 8px rgba(0, 0, 0, 0.1);
}
.help-link {
    margin-top: 10%;
    text-align: center;
}
/* Barra vertical */
.vertical-bar {
    width: 1px;
    background-color: #ccc;
    margin: 1.5rem;
}
/*2do bloque de contenido */
.top{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pic-container {
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.profile-pic {
    flex: content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
    width: 100%;
}


footer p {
    text-align: center;
    margin-top: 2cap;
}

